{%extends 'base.html'%}

{%block content%}
     <div class="container-fluid">
    <div class="row">
    <h1 class="text-center py-3">List Sportů</h1>
      <div class="col-xl-1"></div>
 {%for sport in sporty%}
     <div class="col-xl-2 mb-5">
      <div class="card">
        <img src="{{ sport.obrazek.url }}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        <div class="card-body">
          <h4 class="card-title">{{ sport.nazev_sportu }}</h4>
            <b>Info:</b>
          <p class="card-text">
            {{ sport.historie|truncatewords:30 }}
          </p>
          <a href="{% url 'sporty_detail' sport.pk %}" class="btn btn-primary">Více</a>
        </div>
      </div>
    </div>
    {% endfor %}
     <div class="col-xl-1"></div>
       </div>
     </div>
{%endblock%}